<!-- Shows a list of all given terms of a taxonomy. An icon is shown in front of each term. This icon needs to be given as an SVG path. -->
{% macro terms_list(terms, icon_definition) %}
<div class="flex flex-wrap sm:flex-row flex-col sm:gap-x-7 gap-y-5 mt-6">
    {% for term in terms %}
    <a href="{{ term.permalink | safe }}" class="flex items-center space-x-2">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{ icon_definition }}">
            </path>
        </svg>
        <span class="text-bold">{{term.name}} <sup>{{ term.pages | length }}</sup></span>
    </a>
    {% endfor %}
</div>
{% endmacro %}

<!-- Shows a list of all given terms of a taxonomy with the projects terms icon in front of each term. -->
{% macro terms_list_projects(terms) %}
{{ macros::terms_list(terms=terms, icon_definition="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0
012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2
0 012-2h6a2 2 0 012 2v2M7 7h10") }}
{% endmacro %}

<!-- Shows a list of all given terms of a taxonomy with the skills terms icon in front of each term. -->
{% macro terms_list_skills(terms) %}
{{ macros::terms_list(terms=terms, icon_definition="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7
7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0
014-4z") }}
{% endmacro %}