{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block content %}

{% set page = get_page(path="skills.md", lang=lang) %}
<div class="flex items-center flex-col mt-10 px-4">
  <h1 class="text-2xl text-bold">{{ page.title }}</h1>

  <div class="text-bold mt-4">{{ page.content | safe }}</div>

  {% if config.extra.skills.main_skills_threshold %}
  {% if config.extra.skills.main_skills_heading[lang] %}<h2> {{ config.extra.skills.main_skills_heading[lang] }}</h2>{% endif %}
  {{ macros::terms_list_skills_main(terms=terms, threshold=config.extra.skills.main_skills_threshold) }}

  {% if config.extra.skills.other_skills_heading[lang] %}<h2>{{ config.extra.skills.other_skills_heading[lang] }}</h2>{% endif %}
  {{ macros::terms_list_skills_other(terms=terms, threshold=config.extra.skills.main_skills_threshold) }}
  {% else %}
  {{ macros::terms_list_skills(terms=terms) }}
  {% endif %}

</div>

{% endblock content %}