{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block content %}
<div class="flex items-center flex-col mt-10 px-4">
  <h1 class="text-2xl text-bold mb-6">
    {{ term.name }} Projects
  </h1>
  <div class="flex flex-col gap-y-6 w-full sm:w-2/3">
    {% if paginator %}
    {% set pages = paginator.pages %}
    {% else %}
    {% set pages = term.pages %}
    {% endif %}

    {% for page in pages %}
      {{ macros::project_tile(page=page) }}
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block pagination %}
{% if paginator.previous or paginator.next %}
<div id="pagination" class="max-w-7xl mt-8 px-2 sm:px-6 lg:px-8 mx-auto w-full">
  <div class="flex items-center justify-between">
    {% if not paginator.previous %}
    <!-- Inactive -->
    <span class="button inactive">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
      </svg>
    </span>
    {% else %}
    <!-- Active -->
    <a class="button active" href="{{ paginator.previous }}" {% if not paginator.previous %}disabled{% endif %}>
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
      </svg>
    </a>
    {% endif %}
    <ul class="flex gap-x-2">
      {% for pager in range(start=1, end=paginator.number_pagers+1) %}
      <li class="">
        <a class="button {% if paginator.current_index == pager %}inactive{% else %}active{% endif %}"
          href="{{ paginator.base_url }}{{pager}}" aria-label="Page {{pager}}">
          {{pager}}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% if not paginator.next %}
    <!-- Inactive -->
    <span class="button inactive">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
      </svg>
    </span>
    {% else %}
    <!-- Active -->
    <a class="button active" href="{{ paginator.next }}">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
      </svg>
    </a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}