{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block content %}
<div class="flex items-center flex-col mt-10 px-4">
  <h1 class="text-2xl text-bold mb-6">
    {{ term.name }} Projects
  </h1>
  <div class="flex flex-col gap-y-6 w-full sm:w-2/3">
    {% if paginator %}
    {% set pages = paginator.pages %}
    {% else %}
    {% set pages = term.pages %}
    {% endif %}

    {% for page in pages %}
      {{ macros::project_tile(page=page) }}
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block pagination %}
{% if paginator.previous or paginator.next %}
<div id="pagination" class="max-w-7xl mt-8 px-2 sm:px-6 lg:px-8 mx-auto w-full">
  <div class="flex items-center justify-between">
    {% if not paginator.previous %}
    <!-- Inactive -->
    <span class="button inactive">
      <i class="bi bi-arrow-left" style="font-size: 1rem;"></i>
    </span>
    {% else %}
    <!-- Active -->
    <a class="button active" href="{{ paginator.previous }}" {% if not paginator.previous %}disabled{% endif %}>
      <i class="bi bi-arrow-left" style="font-size: 1rem;"></i>
    </a>
    {% endif %}
    <ul class="flex gap-x-2">
      {% for pager in range(start=1, end=paginator.number_pagers+1) %}
      <li class="">
        <a class="button {% if paginator.current_index == pager %}inactive{% else %}active{% endif %}"
          href="{{ paginator.base_url }}{{pager}}" aria-label="Page {{pager}}">
          {{pager}}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% if not paginator.next %}
    <!-- Inactive -->
    <span class="button inactive">
      <i class="bi bi-arrow-right" style="font-size: 1rem;"></i>
    </span>
    {% else %}
    <!-- Active -->
    <a class="button active" href="{{ paginator.next }}">
      <i class="bi bi-arrow-right" style="font-size: 1rem;"></i>
    </a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
